= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li
            = msg
  %fieldset
    %legend User Details
    .field
      = f.label :name
      %br/
      = f.text_field :name
    .field
      = f.label :email
      %br/
      = f.text_field :email
    .field
      = f.label :password
      %br/
      = f.password_field :password, size: 40
    .field
      = f.label :password_confirmation, 'Confirm:'
      %br/
      = f.password_field :password_confirmation, size: 40
    .field
      = f.label :access_level
      %br/
      = f.select :access_level, User::ACCESS_LEVELS, prompt: 'Select Access Level'
    .actions
      = f.submit